body {
    margin: 0; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    padding: 0;
    
}
.header {
    display: flex; 
    justify-content: space-around; 
    background-color: #1F2937; 
    color: #F9FAF8; 
}
.header-text {
    font-size: 24px; 
    color: #F9FAF8; 
}

ul {
    display: flex; 
    gap: 10px; 
    list-style: none; 
}
li {
    list-style: none; 
    text-decoration: none; 
    font-size: 18px; 
    color: grey; 
}
.first-section {
    display: flex; 
    justify-content: space-around; 
    background-color: #1F2937; 
    align-items: center;
}
.image-box {
    border: gray solid 2px; 
    width: 300px;
    height: 150px; 
    background-color: grey; 
     display: flex; 
    justify-content: center;
    align-items: center;
    color: white; 
}
.all-hero-text {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    width: 400px; 
}
.hero-text {
    font-size: 48px; 
    color: #E5E7EB;
    font-weight:bolder; 
}
.secondary-text {
    font-size: 18px; 
    color: grey; 
}
button {
    width: 80px; 
    height: 30px; 
    border-radius: 4px; 
    background-color: #3882F6; 
    color: white; 
}
.margin {
    margin: 0px; 
}
.button-first {
    margin-top: 8px; 
    margin-bottom: 15px;
}
.second-section {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
}
.box {
    height: 100px;
    width: 100px; 
    border: #3882F6 solid 3px; 
    border-radius: 10px;
    margin: 0;
}
.info {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 36px; 
    color: #1F2937; 
    font-weight: bolder; 
}
.boxes {
    display: flex;
    justify-content: space-evenly;
}
.box-container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 120px; 
    justify-content:flex-start;
    align-items: center;
    text-align: center;
}
.subtext {
    margin: 6px;
}
.random-info {
    margin: 20px;
}
.third-section {
    display: flex; 
    flex-direction: column;
    border: red solid 2px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
  
}
.quote {
    display: flex;
    padding: 40px;
    border: black solid 2px;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    flex-wrap: wrap;
}
.weight {
    font-weight: 100px;
}
.credits {
    display: flex;
    font-weight: bold;
    border: red solid 2px;

}